@font-face {
  font-family: 'deathstar';
  src: url('../src/fonts/DeathStar-VmWB.ttf');
}

@font-face {
  font-family: 'venus';
  src: url('../src/fonts/venus.ttf')
}

.people-page,
.ships-page {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #0e0e10;
  border-radius: 8px;
  border: 1px solid #2a2a2e;
}

.people-page {
  box-shadow:
    0 0 5px 1px #05478a,
    0 0 20px 1px #003f7a,
    0 0 25px 4px #002447;
}

.ships-page {
  box-shadow:
    0 0 5px 1px #0a8459,
      0 0 20px 1px #076e4b,
    0 0 25px 4px #054a36;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #1c1c1e;
  color: #fff;
}

.title-ships {
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  font-family: 'deathstar', sans-serif;
  text-shadow: 0 0 7px #0a8459;
  background-color: transparent;
}

.title-people{
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  font-family: 'deathstar', sans-serif;
  text-shadow: 0 0 7px #05478a;
  background-color: transparent;

}


.people-list,
.ships-list {
  list-style-type: none;
  padding: 0;
}

.person-item,
.ship-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #212123;
  border-radius: 4px;
  transition: background-color 0.3s;

}

.person-item:hover {
  box-shadow:
    0 0 1px 1px #05478a,
    0 0 2px 1px #003f7a,
    0 0 4px 4px #002447;
}

.ship-item:hover {
  box-shadow:
    0 0 1px 1px #0a8459,
      0 0 2px 1px #076e4b,
    0 0 4px 4px #054a36;
}

.person-item a,
.ship-item a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'deathstar';
}

.person-item:hover,
.ship-item:hover {
  background-color: #2a2a2d;
}